body {
  background-image: url('../public/plano-fundo.jpg'); /* Substitua com o caminho correto da sua imagem */
  background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o fundo */
  background-repeat: no-repeat; /* Evita a repetição da imagem */
  background-attachment: fixed; /* Mantém a imagem fixa enquanto a página é rolada */
  background-position: center; /* Centraliza a imagem no plano de fundo */
}
